:root {
    --primary-orange-color-h: 25;
    --primary-orange-color-s: 97%;
    --primary-orange-color-l: 53%;
    --primary-orange-color: hsl(var(--primary-orange-color-h), var(--primary-orange-color-s), var(--primary-orange-color-l));

    --neutral-white-color-h: 0;
    --neutral-white-color-s: 0%;
    --neutral-white-color-l: 100%;
    --neutral-white-color: hsl(var(--neutral-white-color-h), var(--neutral-white-color-s), var(--neutral-white-color-l));

    --neutral-Light-Grey-color-h: 217;
    --neutral-Light-Grey-color-s: 12%;
    --neutral-Light-Grey-color-l: 63%;
    --neutral-Light-Grey-color: hsl(var(--neutral-Light-Grey-color-h), var(--neutral-Light-Grey-color-s), var(--neutral-Light-Grey-color-l));

    --neutral-Medium-Grey-color-h: 216;
    --neutral-Medium-Grey-color-s: 12%;
    --neutral-Medium-Grey-color-l: 54%;
    --neutral-Medium-Grey-color: hsl(var(--neutral-Medium-Grey-color-h), var(--neutral-Medium-Grey-color-s), var(--neutral-Medium-Grey-color-l));

    --neutral-Dark-Blue-color-h: 213;
    --neutral-Dark-Blue-color-s: 19%;
    --neutral-Dark-Blue-color-l: 18%;
    --neutral-Dark-Blue-color: hsl(var(--neutral-Dark-Blue-color-h), var(--neutral-Dark-Blue-color-s), var(--neutral-Dark-Blue-color-l));

    --neutral-Very-Dark-Blue-color-h: 216;
    --neutral-Very-Dark-Blue-color-s: 12%;
    --neutral-Very-Dark-Blue-color-l: 8%;
    --neutral-Very-Dark-Blue-color: hsl(var(--neutral-Very-Dark-Blue-color-h), var(--neutral-Very-Dark-Blue-color-s), var(--neutral-Very-Dark-Blue-color-l));
}
